[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/.vim/bundle/SimpylFold"]
	path = vim/.vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
